In [5]:
valor1 = input ('Digite um número inteiro:')
valor2 = input ('Digite outro número inteiro')

In [6]:
print(valor1 == valor2)
print(valor1 > valor2)
print(valor1 < valor2)
print(valor1 >= valor2)
print(valor1 <= valor2)

True
False
False
True
True

In [7]:
L = []

In [8]:
L = list() #construtor de listas

In [9]:
dias = [3,1,10]

In [10]:
dias[0]

3

In [11]:
dias[2]

10

In [12]:
dias[1]

1

In [13]:
Z = [3,8,9]

In [14]:
Z[0] = 7

In [15]:
Z

[7, 8, 9]

In [16]:
Z[1]

8

In [17]:
Z[0]

7

In [18]:
a = [81, 82, 83]

In [19]:
b = a[:] #cria um clone com fatia

In [20]:
print(a == b)

True

In [21]:
print(a is b)

False

In [22]:
b[0] = 5

In [23]:
print(a)

[81, 82, 83]

In [24]:
print(b)

[5, 82, 83]

In [25]:
uma_lista = ['a', 'b', 'c', 'd', 'e', 'f']

In [26]:
print(uma_lista[1:3])

['b', 'c']

In [27]:
print(uma_lista[:4])

['a', 'b', 'c', 'd']

In [28]:
print(uma_lista[3:])

['d', 'e', 'f']

In [29]:
print(uma_lista[:])

['a', 'b', 'c', 'd', 'e', 'f']

In [30]:
a=[1,2,3]

In [31]:
b=a[:]

In [32]:
b[0] = 5

In [33]:
print(a[3])

IndexError: list index out of range

In [34]:
minhaLista = [76,92.3, "oi", True, 4, 76]

In [37]:
minhaLista ([5:] == "pitomba")

SyntaxError: invalid syntax (2740591884.py, line 1)

In [38]:
minhaLista[3] = "Cibele"

In [39]:
print(minhaLista[3])

Cibele

In [40]:
print(minhaLista[3])

Cibele

In [41]:
minhaLista[3] = "oi"

In [42]:
print(minhaLista[3])

oi

In [43]:
minhaLista = [76,92.3,"oi",True,4,76]
minhaLista.append("pitomba")
minhaLista.append(76)
minhaLista.insert(3,"Cibele")
minhaLista.insert(0,99)
print(minhaLista)
print(minhaLista.index("oi"))
minhaLista.remove(True)
print(minhaLista)

[99, 76, 92.3, 'oi', 'Cibele', True, 4, 76, 'pitomba', 76]
3
[99, 76, 92.3, 'oi', 'Cibele', 4, 76, 'pitomba', 76]

In [44]:
tupla_numeros = (10,20,30)

In [45]:
tupla_numeros

(10, 20, 30)

In [46]:
tuplaNova = 10, 20, 30

In [47]:
tuplaNova

(10, 20, 30)

In [49]:
tuplaElemento = 10,

In [50]:
tuplaElemento

(10,)

In [51]:
dicio = {'chave':'valor'}

In [52]:
print(type(dicio))

<class 'dict'>

In [53]:
d = {'laranjas':15, 'bananas': 35, 'siriguelas':12}

In [54]:
d['bananas']

35

In [55]:
d['pitomba'] = 20

In [56]:
len(d)

4

In [57]:
del d['laranjas']

In [58]:
'laranjas' in d

False

In [59]:
frutas = ["pinha", "oiti coró", "jaca", "tamarindo"]

In [60]:
print([1,2] + [3,4])

[1, 2, 3, 4]

In [61]:
print(frutas + [6,7,8,9])

['pinha', 'oiti coró', 'jaca', 'tamarindo', 6, 7, 8, 9]

In [62]:
print([0]*4)

[0, 0, 0, 0]

In [63]:
print([1,2,["oi, "tchau"]]*2)

SyntaxError: unterminated string literal (detected at line 1) (510904746.py, line 1)